<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript">
    function signout() {
        $.ajax({
            type: "POST",
            url: "/api/signout",
            success: function (data) {
                window.location.href = "/"
            },
        });
    }
    function getAccount() {
        $.ajax({
            type: "Get",
            url: "/api/get-account",
            success: function (data) {
                $("#account-content").html(JSON.stringify(data.data, undefined, 2))
            },
        });
    }
</script>

<body>
    <h1>{{ title }}</h1>
    <h2>Hello {{ username }}</h2>

    <input type="button" name="SignOut" value="Sign Out" onclick="signout()" />
    <br>
    <br>
    <input type="button" name="GetAccount" value="Get Account" onclick="getAccount()" />
    <pre id="account-content"></pre>
</body>